<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="text-align: center; font-family: Arial, sans-serif;">
        <h1>Esercitazione API</h1>

        <p>scegli uno dei due bottoni</p>
        <button type="submit" style="padding: 10px 20px; font-size: 16px;">nasa</button>
        <button type="submit" style="padding: 10px 20px; font-size: 16px;">cat</button>

        <a href="/" style="margin-top: 20px; display: block;">Torna alla Home</a>
    </body>
</html>